.comments {
  display: flex;
  flex-direction: column;
  color: var(--pink-color);
  /* position: relative; */
  width: 100%;
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.comments-list::after {
  content: '';
  border-left: 2px dashed var(--red-color);
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.comments-list::after {
  animation: dashed-border 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes dashed-border {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    transform: translateX(0);
    opacity: 0.7;
  }
}