.comments {
  display: flex;
  flex-direction: column;
  color: var(--pink-color);
  /* position: relative; */
  width: 100%;
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.comments-list:not(:first-child)::after {
  content: '';
  border-left: 2px dashed var(--red-color);
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.comments-list::after {
  animation: dashed-border 1s forwards;
}

.comments-toolkit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  animation: fade-in 1s forwards;
}

.comments-toolkit__counter {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid var(--pink-color);
}

.comments-toolkit__counter-value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.comments-toolkit__counter-text:not(:first-child) {
  margin-left: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes dashed-border {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    transform: translateX(0);
    opacity: 0.7;
  }
}