.back__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.back__link-text {
  font-size: 16px;
  margin-left: 5px;
  background: var(--red-color);
  background: -webkit-linear-gradient(to right, var(--red-color) 18%, var(--pink-color) 56%, var(--yellow-color) 100%);
  background: -moz-linear-gradient(to right, var(--red-color) 18%, var(--pink-color) 56%, var(--yellow-color) 100%);
  background: linear-gradient(to right, var(--red-color) 18%, var(--pink-color) 56%, var(--yellow-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back__link-img {
  margin-top: 2px;
  width: 20px;
  height: 20px;
}